<% provide(:title, "Nueva Clase") %>
<div class="boton_der">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a Grupo", group_path(@group) %></button>
	</p>
</div>
<%= render "/lectures/form" %>