<% provide(:title, "Editar a: #{ @person.full_name }") %>

<div class="boton_der">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a Familia", @family %></button>
	</p>
</div>

<%= render 'people/form' %>