<% provide(:title, @person.full_name) %>

<h2>Pertenece a la familia
	<% @person.families.each do |family| %>
		<strong><%= "#{family.name} " %></strong>
	<% end %>
	<%= image_tag @person.photo_url(:thumb).to_s %>
</h2>
