<td><%= link_to @family.name, @family %></td>
<td>
	<a href="/families/status/<%= @family.id %>" data-remote="true">
		<% if @family.status %>
			<button type="button" class="btn status_button btn-danger">DESACTIVAR</button>
		<% else %>
			<button type="button" class="btn status_button btn-success">ACTIVAR</button>
		<% end %>
	</a>
</td>