<% provide(:title, "Nuevo Grupo") %>

<div class="boton_der">
	<p>
	  <button type="button" class="btn btn-info"><%= link_to "Regresar a los Grupos", groups_path %></button>
	</p>
</div>
<div class="row">
	<div class="span6 offset3">
		<%= render 'groups/form' %>
	</div>
</div>