<footer class="footer container">
  <small>
    Este sitio fue desarrollado por:
    <a href="https://twitter.com/ibarroladt">@ibarroladt</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>